$pref : "json-err-hl";

.#{$pref}.calm-theme {
	background-color: #222;
	.#{$pref}__line-text {
		color: #eee;
		.string      {color: #ddc;}
		.string_v    {color: #ddc;}
		.string_n    {color: #78a;}
		.slashed     {color: #f90;}
		.number      {color: #f90;}
		.bool        {color: #f90;}
		._null       {color: #98f;}
	}

}

.#{$pref}.calm-clarified-theme {
	.#{$pref}__line .#{$pref}__line-number {
		background-color: #444;
		// border-right: 3px solid #ccc;
	}
	.#{$pref}__line-text {
		color: #eee;
		.string        {color: #ddc;}
		.string_v      {color: #ddc;}
		.string_n      {color: #78a;}
		.bool          {color: #fb6;}
		.number        {color: #fb6;}
		.slashed       {color: #fb6;}
		._null         {color: #98f;}
	}
}

.#{$pref}.monokai-theme {
	background-color: #333;
	.#{$pref}__line-text {
		// .string_n    {color: #e48;}
		.string_n    {color: #3bd;}
		.string      {color: #da5;}
		.string_v    {color: #da5;}
		.slashed     {color: #98f;}
		.number      {color: #98f;}
		.bool        {color: #98f;}
		._null       {color: #e48;}
	}
}

.#{$pref}.monokai-clarified-theme {
	// background-color: #333;
	.#{$pref}__line-text {
		// .string_n    {color: #e48;}
		.string_n    {color: #3bd;}
		.string      {color: #da5;}
		.string_v    {color: #da5;}
		.slashed     {color: #98f;}
		.number      {color: #98f;}
		.bool        {color: #98f;}
		._null       {color: #e48;}
	}
}