$pref : "syntax-hl-fk";

// @import "./../syntax-highlight-framework/syntax-hl-fk.scss";


pre.#{$pref}.calm-theme {
	background-color: #222;
	.#{$pref}__line-text {
		color: #eee;
		.string_v    {color: #ddc;}
		.string_n    {color: #78a;}
		.slashed     {color: #f90;}
		.number      {color: #f90;}
		.bool        {color: #f90;}
		._null       {color: #98f;}
		.error       {color: #fff; background-color: #e48; box-shadow: inset 0 0 2px #fff;}
	}

}

pre.#{$pref}.calm-clarified-theme {
	.#{$pref}__line .#{$pref}__line-number {
		background-color: #444;
		// border-right: 3px solid #ccc;
	}
	.#{$pref}__line-text {
		color: #eee;
		.string_v      {color: #ddc;}
		.string_n      {color: #78a;}
		.bool          {color: #fb6;}
		.number        {color: #fb6;}
		.slashed       {color: #fb6;}
		._null         {color: #98f;}
		.error         {color: #fff; background-color: #e48; box-shadow: inset 0 0 2px #fff;}
	}
}

pre.#{$pref}.monokai-theme {
	background-color: #333;
	.#{$pref}__line-text {
		// .string_n    {color: #e48;}
		.string_n    {color: #3bd;}
		.string_v    {color: #da5;}
		.slashed     {color: #98f;}
		.number      {color: #98f;}
		.bool        {color: #98f;}
		._null       {color: #e48;}
		.error       {color: #fff; background-color: #e48; box-shadow: inset 0 0 2px #fff;}
	}
}

pre.#{$pref}.monokai-clarified-theme {
	// background-color: #333;
	.#{$pref}__line-text {
		// .string_n    {color: #e48;}
		.string_n    {color: #3bd;}
		.string_v    {color: #da5;}
		.slashed     {color: #98f;}
		.number      {color: #98f;}
		.bool        {color: #98f;}
		._null       {color: #e48;}
		.error       {color: #fff; background-color: #e48; box-shadow: inset 0 0 2px #fff;}
	}
}